{% extends 'EETYSBundle::base.html.twig' %}

{% block content %}

    {% include 'EETYSBundle::Item/Component/item_types.html.twig' %}

    <form class="form-horizontal form-tys" action="{{ path('item_create', {storyId: story.id, type: app.request.get('type')}) }}" method="post" {{ form_enctype(form) }}>
        {% if entity.type in ['url', 'video'] %}
        {{ form_row(form.url) }}
        {% endif %}
        {% if entity.type in ['audio', 'file'] %}
        {{ form_row(form.uploadedFiles, { 'attr': { 'multiple': 'multiple' }, 'full_name': form.uploadedFiles.vars['full_name'] ~ '[]' }) }}
        {% endif %}
        {{ form_rest(form) }}
        <div class="form-actions">
            <button type="submit" class="btn btn-tys btn-small pull-right">{{ 'btn.save_and_proceed.name' | trans | raw }} <i class="icon-chevron-right icon-white"></i></button>
        </div>
    </form>

    {% import 'EETYSBundle::Item/Component/macro.html.twig' as macro %}
    {% for item in story.items %}
        <hr>
        {# use macro depending on item type #}
        {{ attribute(macro, item.type, [item]) }}
    {% endfor %}
{% endblock %}
