{% extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <h1>{{ entity.type | capitalize }} Item</h1>

    {% if entity.type == 'audio' %}
        {% for filekey in entity.files %}
            <object type="application/x-shockwave-flash" data="{{ asset('bundles/eetys/flash/dewplayer.swf') }}" width="200" height="20" id="dewplayer" name="dewplayer">
                <param name="wmode" value="transparent" />
                <param name="movie" value="dewplayer.swf" />
                <param name="flashvars" value="mp3=/uploads/{{ filekey }}" />
            </object>

        {% endfor %}

    {% endif %}
    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Createdat</th>
            <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
        </tr>
        </tbody>
    </table>
    <div class="form-action">
        <form class="btn-group" action="{{ path('item_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <a class="btn" href="{{ path('item') }}">
                Back to the list
            </a>
            <a class="btn" href="{{ path('item_edit', { 'id': entity.id }) }}">
                Edit
            </a>
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
    </div>

{% endblock %}
