<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{{ 'default.page.title' | trans | raw }}{% endblock %}</title>
    {% block stylesheets %}
    {% stylesheets filter='less,cssrewrite'
        '@EETYSBundle/Resources/public/css/style.less' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
    {% endblock %}
</head>
<body>
{# div.page-wrap is used by sticky footer trick #}
<div class="page-wrap">
    {% include "EETYSBundle:Component:header.html.twig" %}
    {% block subheader %}{% endblock %}

    {# remove div.container if you want full screen app #}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% block stories %}{% endblock %}
    <div id="footer-push"></div>

</div>
{% include "EETYSBundle:Component:footer.html.twig" %}

<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

{% javascripts
'@EETYSBundle/Resources/public/js/vendor/jquery-2.0.3.js'
'@EETYSBundle/Resources/public/js/vendor/masonry.pkgd.min.js'
'@EETYSBundle/Resources/public/js/*.js'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
</body>
</html>