<div class="row choose five">
    <div class="span2 choose-audio">
        {% if (
            app.request.attributes.get('_route') == 'item_new'
            and
            (
                app.request.attributes.get('_route_params').type is defined
                and
                app.request.attributes.get('_route_params').type == 'audio'
            )
        ) %}
            {% set tag = 'span' %}
            <{{ tag }}>
        {% else %}
            {% set tag = 'a' %}
            <{{ tag }} href="{{ path('item_new', {'storyId': story.id, 'type': 'audio'}) }}">
        {% endif %}
            <figure><i class="icon"></i></figure>
            {{ 'story.addItem.types.audio' | trans }}
        </{{ tag }}>
    </div>
    <div class="span2 choose-video">
        {% if (
            app.request.attributes.get('_route') == 'item_new'
            and
            (
                app.request.attributes.get('_route_params').type is defined
                and
                app.request.attributes.get('_route_params').type == 'video'
            )
        ) %}
            {% set tag = 'span' %}
            <{{ tag }}>
        {% else %}
            {% set tag = 'a' %}
            <{{ tag }} href="{{ path('item_new', {'storyId': story.id, 'type': 'video'}) }}">
        {% endif %}
            <figure><i class="icon"></i></figure>
            {{ 'story.addItem.types.video' | trans }}
        </{{ tag }}>
    </div>
    <div class="span2 choose-images">
        {# TODO: swotch file to images when it's done #}
        {% if (
            app.request.attributes.get('_route') == 'item_new'
            and
            (
                app.request.attributes.get('_route_params').type is defined
                and
                app.request.attributes.get('_route_params').type == 'file'
            )
        ) %}
            {% set tag = 'span' %}
            <{{ tag }}>
        {% else %}
            {% set tag = 'a' %}
            <{{ tag }} href="{{ path('item_new', {'storyId': story.id, 'type': 'file'}) }}">
        {% endif %}
            <figure><i class="icon"></i></figure>
            {{ 'story.addItem.types.images' | trans }}
        </{{ tag }}>
    </div>
    <div class="span2 choose-text">
        {% if (
            app.request.attributes.get('_route') == 'item_new'
            and
            (
                app.request.attributes.get('_route_params').type is defined
                and
                app.request.attributes.get('_route_params').type == 'text'
            )
        ) %}
            {% set tag = 'span' %}
            <{{ tag }}>
        {% else %}
            {% set tag = 'a' %}
            <{{ tag }} href="{{ path('item_new', {'storyId': story.id, 'type': 'text'}) }}">
        {% endif %}
            <figure><i class="icon"></i></figure>
            {{ 'story.addItem.types.text' | trans }}
        </{{ tag }}>
    </div>
    <div class="span2 choose-url">
        {% if (
            app.request.attributes.get('_route') == 'item_new'
            and
            (
                app.request.attributes.get('_route_params').type is defined
                and
                app.request.attributes.get('_route_params').type == 'url'
            )
        ) %}
            {% set tag = 'span' %}
            <{{ tag }}>
        {% else %}
            {% set tag = 'a' %}
            <{{ tag }} href="{{ path('item_new', {'storyId': story.id, 'type': 'url'}) }}">
        {% endif %}
            <figure><i class="icon"></i></figure>
            {{ 'story.addItem.types.url' | trans }}
            </{{ tag }}>
    </div>
</div>

<div class="row">
    <div class="span6">
        <a href="{{ path('story_edit', {id: story.id}) }}" class="btn btn-tys btn-small pull-left"><i class="icon-chevron-left icon-white"></i>{{ 'btn.back.name' | trans }}</a>
    </div>
    <div class="span6">
        {% if (story.items|length > 0) %}
            <a href="{{ path('story_publish', {id: story.id}) }}" class="btn btn-tys btn-small pull-right">{{ 'btn.publish.name' | trans }} <i class="icon-chevron-right icon-white"></i></a>
        {% else %}
            <a href="{{ path('story_publish', {id: story.id}) }}" class="btn btn-tys btn-small pull-right">{{ 'btn.publish_without_items.name' | trans }} <i class="icon-chevron-right icon-white"></i></a>
        {% endif %}
    </div>
    <div class="span6 offset6 text-right">
        ({{ 'btn.publish_without_items.help' | trans | raw }})
    </div>

</div>