{% macro map(story) %}
    <div class="row item item-map">
        <div class="span12">
            <i class="icon-map-marker"></i>
            {% if story.createdBy is not null %}
                {{ 'story.show.added.by' | trans | raw }}: {{ story.createdBy.getRealName() }}
            {% endif %}
            {% if story.createdBy.organization is not null %}
                / {{ story.createdBy.organization }}
            {% endif %}
        </div>
        <div class="span4">
            <h3>{{ story.address }}</h3>
            {% if true == is_granted('EDIT', story) %}
                <a class="btn btn-tys btn-small" href="{{ path('story_edit', {id: story.id}) }}">{{ 'btn.edit.name' | trans | raw}} <i class="icon-wrench icon-white"></i></a>
            {% endif %}
        </div>
        <div class="span8">
            <img
                src="http://maps.googleapis.com/maps/api/staticmap?{{
                {
                'zoom': '13',
                'size': '620x200',
                'sensor': 'false',
                'center': story.address
                }|url_encode }}&markers=size:mid%7Ccolor:red%7C{{ story.address | url_encode }}"
                id="item-map" />
        </div>
    </div>
{% endmacro %}

{% macro audio(item) %}
    <div class="row item item-audio">
        <div class="span12">
            <i class="icon-music"></i>
            {% if item.createdBy is not null %}
                {{ 'story.show.added.by' | trans | raw }}: {{ item.createdBy.getRealName() }}
            {% endif %}
            {% if item.createdBy.organization is not null %}
                / {{ item.createdBy.organization }}
            {% endif %}
        </div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            {% if true == is_granted('EDIT', item) %}
                <a class="btn btn-tys btn-small" href="{{ path('item_edit', {id: item.id}) }}">{{ 'btn.edit.name' | trans | raw}} <i class="icon-wrench icon-white"></i></a>
            {% endif %}
        </div>
        <div class="span8">
            <div>
                {% for filekey in item.files %}
                    <object type="application/x-shockwave-flash" data="{{ asset('bundles/eetys/flash/dewplayer.swf') }}"
                            width="620" height="20" id="dewplayer" name="dewplayer">
                        <param name="wmode" value="transparent"/>
                        <param name="movie" value="dewplayer.swf"/>
                        <param name="flashvars" value="mp3=/uploads/{{ filekey }}"/>
                    </object>
                {% endfor %}
            </div>
            <div>
                {{ item.description }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro image(item) %}
    <div class="row item item-image">
        <div class="span12">
            <i class="icon-image"></i>
            {% if item.createdBy is not null %}
                {{ 'story.show.added.by' | trans | raw }}: {{ item.createdBy.getRealName() }}
            {% endif %}
            {% if item.createdBy.organization is not null %}
                / {{ item.createdBy.organization }}
            {% endif %}
        </div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            {% if true == is_granted('EDIT', item) %}
                <a class="btn btn-tys btn-small" href="{{ path('item_edit', {id: item.id}) }}">{{ 'btn.edit.name' | trans | raw}} <i class="icon-wrench icon-white"></i></a>
            {% endif %}
        </div>
        <div class="span8">
            {% for filekey in item.files %}
            <div>
                <a href="/uploads/{{ filekey }}">{{ filekey }}</a>
            </div>
            {% endfor %}
            <div>
                {{ item.description }}
            </div>
        </div>
    </div>
{% endmacro %}


{% macro file(item) %}
    <div class="row item item-file">
        <div class="span12">
            <i class="icon-file"></i>
            {% if item.createdBy is not null %}
                {{ 'story.show.added.by' | trans | raw }}: {{ item.createdBy.getRealName() }}
            {% endif %}
            {% if item.createdBy.organization is not null %}
                / {{ item.createdBy.organization }}
            {% endif %}
        </div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            {% if true == is_granted('EDIT', item) %}
                <a class="btn btn-tys btn-small" href="{{ path('item_edit', {id: item.id}) }}">{{ 'btn.edit.name' | trans | raw}} <i class="icon-wrench icon-white"></i></a>
            {% endif %}
        </div>
        <div class="span8">
            {% for filekey in item.files %}
            <div>
                <a href="/uploads/{{ filekey }}">{{ filekey }}<a/>
            </div>
            {% endfor %}
            <div>
                {{ item.description }}
            </div>
        </div>

    </div>
{% endmacro %}

{% macro text(item) %}
    <div class="row item item-text">
        <div class="span12">
            <i class="icon-align-left"></i>
            {% if item.createdBy is not null %}
                {{ 'story.show.added.by' | trans | raw }}: {{ item.createdBy.getRealName() }}
            {% endif %}
            {% if item.createdBy.organization is not null %}
                / {{ item.createdBy.organization }}
            {% endif %}
        </div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            {% if true == is_granted('EDIT', item) %}
                <a class="btn btn-tys btn-small" href="{{ path('item_edit', {id: item.id}) }}">{{ 'btn.edit.name' | trans | raw}} <i class="icon-wrench icon-white"></i></a>
            {% endif %}
        </div>
        <div class="span8">
            <div>
                {{ item.body | raw }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro url(item) %}
    <div class="row item item-url">
        <div class="span12">
            <i class="icon-globe"></i>
            {% if item.createdBy is not null %}
                {{ 'story.show.added.by' | trans | raw }}: {{ item.createdBy.getRealName() }}
            {% endif %}
            {% if item.createdBy.organization is not null %}
                / {{ item.createdBy.organization }}
            {% endif %}
        </div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            {% if true == is_granted('EDIT', item) %}
                <a class="btn btn-tys btn-small" href="{{ path('item_edit', {id: item.id}) }}">{{ 'btn.edit.name' | trans | raw}} <i class="icon-wrench icon-white"></i></a>
            {% endif %}
        </div>
        <div class="span8">
            <div>
                <a href="{{ item.url }}">{{ item.url }}</a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro video(item) %}
    <div class="row item item-video">
        <div class="span12">
            <i class="icon-play"></i>
            {% if item.createdBy is not null %}
                {{ 'story.show.added.by' | trans | raw }}: {{ item.createdBy.getRealName() }}
            {% endif %}
            {% if item.createdBy.organization is not null %}
                / {{ item.createdBy.organization }}
            {% endif %}
        </div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            {% if true == is_granted('EDIT', item) %}
                <a class="btn btn-tys btn-small" href="{{ path('item_edit', {id: item.id}) }}">{{ 'btn.edit.name' | trans | raw}} <i class="icon-wrench icon-white"></i></a>
            {% endif %}
        </div>
        <div class="span8">
            <div>
                {{ item.embedCode | raw }}
            </div>
            <div>
                <a href="{{ item.url }}">{{ item.url }}</a>
            </div>
        </div>
    </div>
{% endmacro %}