
{% macro map(story) %}
    <div class="row item">
        <div class="span12"><i class="icon-map-marker"></i>{{ 'story.show.added.by' | trans | raw }}: {#{{ story.creator }}#}</div>
        <div class="span4">
            <h3>{{ story.address }}</h3>
        </div>
        <div class="span8">
            <img
                src="http://maps.googleapis.com/maps/api/staticmap?{{
                {
                'zoom': '13',
                'size': '600x200',
                'sensor': 'false',
                'center': story.address
                }|url_encode }}&markers=size:mid%7Ccolor:red%7C{{ story.address | url_encode }}"
                id="item-map" />
        </div>
    </div>
{% endmacro %}

{% macro audio(item) %}
    <div class="row item item-audio">
        <div class="span12"><i class="icon-music"></i>{{ 'story.show.added.by' | trans | raw }}:</div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            <a href="{{ path('item_edit', {id: item.id}) }}">Edit</a>
        </div>
        <div class="span8">
            <div>
                {% for filekey in item.files %}
                    <object type="application/x-shockwave-flash" data="{{ asset('bundles/eetys/flash/dewplayer.swf') }}"
                            width="620" height="20" id="dewplayer" name="dewplayer">
                        <param name="wmode" value="transparent"/>
                        <param name="movie" value="dewplayer.swf"/>
                        <param name="flashvars" value="mp3=/uploads/{{ filekey }}"/>
                    </object>
                {% endfor %}
            </div>
            <div>
                {{ item.description }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro file(item) %}
    <div class="row item item-file">
        <div class="span12"><i class="icon-file"></i>{{ 'story.show.added.by' | trans | raw }}:</div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            <a href="{{ path('item_edit', {id: item.id}) }}">Edit</a>
        </div>
        <div class="span8">
            <div>
                {% for filekey in item.files %}
                <a href="/uploads/{{ filekey }}">{{ filekey }}</div>
            {% endfor %}
        </div>
        <div>
            {{ item.description }}
        </div>
    </div>
{% endmacro %}

{% macro text(item) %}
    <div class="row item item-text">
        <div class="span12"><i class="icon-align-left"></i>{{ 'story.show.added.by' | trans | raw }}:</div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            <a href="{{ path('item_edit', {id: item.id}) }}">Edit</a>
        </div>
        <div class="span8">
            <div>
                {{ item.body | nl2br }}
            </div>
        </div>
    </div>
{% endmacro %}

{% macro url(item) %}
    <div class="row item item-url">
        <div class="span12"><i class="icon-align-left"></i>{{ 'story.show.added.by' | trans | raw }}:</div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            <a href="{{ path('item_edit', {id: item.id}) }}">Edit</a>
        </div>
        <div class="span8">
            <div>
                <a href="{{ item.url }}">{{ item.url }}</a>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro video(item) %}
    <div class="row item item-video">
        <div class="span12"><i class="icon-play"></i>{{ 'story.show.added.by' | trans | raw }}:</div>
        <div class="span4">
            <h3>{{ item.name }}</h3>
            <a href="{{ path('item_edit', {id: item.id}) }}">Edit</a>
        </div>
        <div class="span8">
            <div>
                {{ item.embedCode | raw }}
            </div>
            <div>
                <a href="{{ item.url }}">{{ item.url }}</a>
            </div>
        </div>
    </div>
{% endmacro %}