{%  extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <h1>Story creation</h1>

    <form action="{{ path('story_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_widget(form) }}
        <p>
            <button type="submit" class="btn">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('story') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
