{%  extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <h1>Story creation</h1>

    <form class="form-horizontal" action="{{ path('story_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_widget(form) }}
        <div class="form-actions">
            <button type="submit" class="btn">Create</button>
            <a class="btn" href="{{ path('story') }}">
                Back to the list
            </a>
        </div>
    </form>
{% endblock %}
