{%  extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'story.new.page_header.h1' | trans }}</h1>
    </div>
    <form class="form-horizontal" action="{{ path('story_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}

        {{ form_widget(form) }}
        <div class="form-actions">
            <a class="btn btn-tys" href="{{ path('story') }}">
                {{ 'btn.back.name' | trans }}
            </a>
            <button type="submit" class="btn btn-tys pull-right">
                {{ 'btn.save_and_proceed.name' | trans }}
            </button>

        </div>
    </form>
{% endblock %}
