<div id="step-by-step" class="grid-paper">
    <div class="container">
        <div class="row">
            <div class="span4 grid-paper">
                <div>
                    <h4>{{ 'default.homepage.step_by_step.tell' | trans | raw }}</h4>
                </div>
            </div>
            <div class="span4 grid-paper">
                <div>
                    <h4>{{ 'default.homepage.step_by_step.add' | trans | raw }}</h4>
                </div>
            </div>
            <div class="span4 grid-paper">
                <div>
                    <h4>{{ 'default.homepage.step_by_step.invite' | trans | raw }}</h4>
                </div>
                <a class="btn btn-tys btn-block" href="{{ path('story_new') }}">
                    <i class="icon-plus-sign"></i>
                    <span>{{ 'default.homepage.button.add_story.name' | trans | raw }}</span>
                </a>
            </div>
        </div>
    </div>
</div>