{%  extends 'EETYSBundle::base.html.twig' %}

{% block content %}
    <h1>FileItem</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Files</th>
                <td>{% for filekey in entity.files %}
                        <img src="{{ filekey | imagine_filter('my_thumb') }}" alt=""/>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('fileitem') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('fileitem_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('fileitem_delete', { 'id': entity.id }) }}" method="post">

            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}
